@charset 'UTF-8';

#input-file {
    display: none;
}

.area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
}

label {
    background: #deb887;
    padding: 200px;
    cursor: pointer;
    color: #696969;
    font-weight: 600;
    font-size: 24px;
    border-radius: 20px;
}